<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Sheet</title>
    <script src="https://use.fontawesome.com/6dae66386a.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style/style.css"></link>
</head>

<body>
    <div id="sheet_body">

        <header id="sheet_header">
            <!-- <img src="http://cdn0.vox-cdn.com/assets/4510675/10258980_10152398165651071_9160598520303222803_o__1_.png"> -->
            <div>
                <player-name></player-name>
            </div>
            <button v-on:click="exportCharacter" class="btn btn-danger">Export Character</button>
            <button class="btn btn-success">Import Character</button>
        </header>

        <section id="character_info">
            <div>
                <div class="form-group form-group1">
                    <input type="text" id="char_name" class="chara-info-input underline" v-model="name">
                    <label for="char_name" class="label-player-info">Character name</label>
                </div>
                <div class="form-group form-group1">
                    <input type="text" id="char_level" class="short-input chara-info-input" v-model="level">
                    <label for="char_name" class="label-player-info">Level</label>
                </div>
                <div class="form-group form-group1">
                    <input type="text" id="char_class" class="chara-info-input underline" v-model="className">
                    <label for="char_name" class="label-player-info">Class</label>
                </div>
                <div class="form-group form-group1">
                    <input type="text" id="char_paragon" class="chara-info-input underline" v-model="paragon">
                    <label for="char_name" class="label-player-info">Paragon path</label>
                </div>
                <div class="form-group form-group1">
                    <input type="text" id="char_epic" class="chara-info-input underline" v-model="epic">
                    <label for="char_name" class="label-player-info">Epic destiny</label>
                </div>
                <div class="form-group form-group1">
                    <input type="text" id="char_xp" class="chara-info-input" v-model="totalXp">
                    <label for="char_name" class="label-player-info">Total xp</label>
                </div>

                <div class="form-group form-group1">
                    <select id="char_race" v-model="raceName" class="underline">
						<option value="">Seleccionar</option>
					</select>
                    <label for="char_name" class="label-player-info">Race</label>
                </div>
                <div class="form-group form-group1">
                    <input type="text" id="char_race" class="short-input chara-info-input underline" v-model="size">
                    <label for="char_name" class="label-player-info">Size</label>
                </div>
                <div class="form-group form-group1">
                    <input type="text" id="char_race" class="short-input chara-info-input underline" v-model="age">
                    <label for="char_name" class="label-player-info">Age</label>
                </div>
                <div class="form-group form-group1">
                    <input type="text" id="char_race" class="chara-info-input short-input underline" v-model="gender">
                    <label for="char_name" class="label-player-info">Gender</label>
                </div>
                <div class="form-group form-group1">
                    <input type="text" id="char_race" class="chara-info-input short-input underline" v-model="height">
                    <label for="char_name" class="label-player-info">Height</label>
                </div>
                <div class="form-group form-group1">
                    <input type="text" id="char_race" class="chara-info-input short-input underline" v-model="weight">
                    <label for="char_name" class="label-player-info">Weight</label>
                </div>
                <div class="form-group form-group1">
                    <input type="text" id="char_race" class="chara-info-input underline" v-model="alignment">
                    <label for="char_name" class="label-player-info">Alignment</label>
                </div>
                <div class="form-group form-group1">
                    <input type="text" id="char_race" class="chara-info-input underline" v-model="deity">
                    <label for="char_name" class="label-player-info">Deity</label>
                </div>
                <div class="form-group form-group1">
                    <input type="text" id="char_race" class="chara-info-input underline" v-model="company">
                    <label for="char_name" class="label-player-info">Adventuring company or Affiliations</label>
                </div>
            </div>
        </section>

        <!-- Columna IZQ -->

        <div class="col-sm-4">

            <section id="initiative">
                <header>
                    <button data-toggle="collapse" data-target="#initiative-content" class="header-button btn btn-block" type="button"><p>Initiative</p></button>
                </header>
                <div id="initiative-content" class="collapse in">
                    <!--<table class="table-condensed">
                        <thead>
                            <th class="init-content">score</th>
                            <th class="init-content">misc</th>
                        </thead>
                        <tr class="ini-tab">
                            <td><input type="text" class="init_input" v-model="initiative" disabled></td>
                            <td><input type="number" class="init_input" v-model="initBonus"></td>
                    </table>-->
                    <div class="initiative-container-flex">
                        <div>
                            <label for="#initiative-score">SCORE</label>
                            <input id="#initiative-score" type="text" class="init_input" v-model="initiative" disabled>
                        </div>
                        <div>
                            <label for="#initiative-misc">MISC</label>
                            <input id="initiative-misc" type="number" class="init_input" v-model="initBonus">
                        </div>
                    </div>
                </div>
            </section>

            <section id="abilites">
                <header class="clear">
                    <button data-toggle="collapse" data-target="#ability-scores-content" class="header-button btn btn-block"><p>Ability Scores</p></button>
                </header>
                <div id="ability-scores-content" class="collapse in">
                    <div class="ability-flex-container">
                        <div class="ability-flex-container-sub">
                            <span class="column-label-class">Score</span>
                            <span class="column-label-class">Ability</span>
                            <span class="column-label-class">Abil Mod</span>
                            <span class="column-label-class">Mod + 1/2 LVL</span>
                        </div>
                        <div class="ability-flex-container-sub">
                            <div><input type="text" class="abil_input" v-model="strength"></div>
                            <div class="ability-tag , well">STR</div>
                            <div><input type="text" class="abil_input" v-model="strMod" disabled></div>
                            <div><input type="text" class="abil_input" v-model="strMod_lvl" disabled></div>
                        </div>
                        <div class="ability-flex-container-sub">
                            <div><input type="text" class="abil_input" v-model="constitution"></div>
                            <div class="ability-tag well">con</div>
                            <div><input type="text" class="abil_input" v-model="conMod" disabled></div>
                            <div><input type="text" class="abil_input" v-model="conMod_lvl" disabled></div>
                        </div>
                        <div class="ability-flex-container-sub">
                            <div><input type="text" class="abil_input" v-model="dexterity"></div>
                            <div class="ability-tag well">dex</div>
                            <div><input type="text" class="abil_input" v-model="dexMod" disabled></div>
                            <div><input type="text" class="abil_input" v-model="dexMod_lvl" disabled></div>
                        </div>
                        <div class="ability-flex-container-sub">
                            <div><input type="text" class="abil_input" v-model="intelligence"></div>
                            <div class="ability-tag well">int</div>
                            <div><input type="text" class="abil_input" v-model="intMod" disabled></div>
                            <div><input type="text" class="abil_input" v-model="intMod_lvl" disabled></div>
                        </div>
                        <div class="ability-flex-container-sub">
                            <div><input type="text" class="abil_input" v-model="wisdom"></div>
                            <div class="ability-tag well">wis</div>
                            <div><input type="text" class="abil_input" v-model="wisMod" disabled></div>
                            <div><input type="text" class="abil_input" v-model="wisMod_lvl" disabled></div>
                        </div>
                        <div class="ability-flex-container-sub">
                            <div><input type="text" class="abil_input" v-model="charisma"></div>
                            <div class="ability-tag well">cha</div>
                            <div><input type="text" class="abil_input" v-model="chaMod" disabled></div>
                            <div><input type="text" class="abil_input" v-model="chaMod_lvl" disabled></div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="hit-points">
                <header>
                    <button data-toggle="collapse" data-target="#hit-points-content" class="header-button btn btn-block"><p>Hit points</p></button>
                </header>
                <div id="hit-points-content" class="collapse in">
                    <div class="inline well-sm">
                        <label for="#max-hp" class="hit-points-label">Max HP</label>
                        <input id="max-hp" type="text" class="hp_input main_score" v-model="maxHP" disabled>
                    </div>
                    <div class="inline well-sm">
                        <label for="#current-hp" class="hit-points-label">Current HP</label>
                        <input id="current-hp" type="number" class="hp_input" v-model="currentHP">
                    </div>
                    <div class="inline well-sm">
                        <label for="#temporary-hp" class="hit-points-label">Temporary HP</label>
                        <input id="temporary-hp" type="number" class="hp_input" v-model="temporaryHP">
                    </div>
                    <div class="inline well-sm">
                        <label for="#surge-value" class="hit-points-label">Surge value</label>
                        <input id="surge-value" type="text" class="hp_input" disabled v-model="surgeValue">
                    </div>
                    <div class="inline well-sm">
                        <label for="#surge-max" class="hit-points-label">Surges (max: <span class="inline-span">{{maxHealingSurges}}</span>)</label>
                        <input id="surge-max" type="number" class="hp_input" v-model="currentHealingSurges">
                    </div>
            </section>

            <section id="skills">
                <header>
                    <button data-toggle="collapse" data-target="#skills-content" class="header-button btn btn-block"><p>Skills</p></button>
                </header>
                <div id="skills-content" class="collapse in table-responsive">
                    <table class="table-condensed">
                        <thead>
                            <th data-toggle="popover" data-trigger="hover" title="Based on" data-content="1/2 Lv + Abil Mod + Trnd + Armor Penalty + Misc">bonus</th>
                            <th>skill name</th>
                            <th>trnd<span>(+5)</span></th>
                            <th>misc</th>
                        </thead>
                        <tr>
                            <td class="bonus-480px">
                                <div class="skill-input-auto"><input type="text" class="skill-input" disabled v-model="acroSkill"></div>
                            </td>
                            <td>
                                <div class="skill-name">Acrobatics</div>
                            </td>
                            <td>
                                <div class="skill-input-auto"><input type="checkbox" class="skill-input" v-model="acroSkillTrained"></div>
                            </td>

                            <td class="bonus-480px">
                                <div class="skill-input-auto"><input type="number" class="skill-input" v-model="acroSkillMisc"></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="bonus-480px">
                                <div class="skill-input-auto"><input type="text" class="skill-input" disabled v-model="arcaSkill"></div>
                            </td>
                            <td>
                                <div class="skill-name">Arcana</div>
                            </td>
                            <td>
                                <div class="skill-input-auto"><input type="checkbox" class="skill-input" v-model="arcaSkillTrained"></div>
                            </td>
                            <td>
                                <div class="skill-input-auto"><input type="number" class="skill-input" v-model="arcaSkillMisc"></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="bonus-480px">
                                <div class="skill-input-auto"><input type="text" class="skill-input" disabled disabled v-model="athlSkill"></div>
                            </td>
                            <td>
                                <div class="skill-name">Athletics</div>
                            </td>
                            <td>
                                <div class="skill-input-auto"><input type="checkbox" class="skill-input" v-model="athlSkillTrained"></div>
                            </td>
                            <td class="bonus-480px">
                                <div class="skill-input-auto"><input type="number" class="skill-input" v-model="athlSkillMisc"></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="bonus-480px">
                                <div class="skill-input-auto"><input type="text" class="skill-input" disabled disabled v-model="blufSkill"></div>
                            </td>
                            <td>
                                <div class="skill-name">Bluff</div>
                            </td>
                            <td>
                                <div class="skill-input-auto"><input type="checkbox" class="skill-input" v-model="blufSkillTrained"></div>
                            </td>
                            <td class="bonus-480px">
                                <div class="skill-input-auto"><input type="number" class="skill-input" v-model="blufSkillMisc"></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="bonus-480px">
                                <div class="skill-input-auto"><input type="text" class="skill-input" disabled disabled v-model="diplSkill"></div>
                            </td>
                            <td>
                                <div class="skill-name">Diplomacy</div>
                            </td>
                            <td>
                                <div class="skill-input-auto"><input type="checkbox" class="skill-input" v-model="diplSkillTrained"></div>
                            </td>
                            <td class="bonus-480px">
                                <div class="skill-input-auto"><input type="number" class="skill-input" v-model="diplSkillMisc"></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="bonus-480px">
                                <div class="skill-input-auto"><input type="text" class="skill-input" disabled disabled v-model="dungSkill"></div>
                            </td>
                            <td>
                                <div class="skill-name">Dungeoneering</div>
                            </td>

                            <td>
                                <div class="skill-input-auto"><input type="checkbox" class="skill-input" v-model="dungSkillTrained"></div>
                            </td>

                            <td class="bonus-480px">
                                <div class="skill-input-auto"><input type="number" class="skill-input" v-model="dungSkillMisc"></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="bonus-480px">
                                <div class="skill-input-auto"><input type="text" class="skill-input" disabled disabled v-model="enduSkill"></div>
                            </td>
                            <td>
                                <div class="skill-name">Endurance</div>
                            </td>
                            <td>
                                <div class="skill-input-auto"><input type="checkbox" class="skill-input" v-model="enduSkillTrained"></div>
                            </td>
                            <td class="bonus-480px">
                                <div class="skill-input-auto"><input type="number" class="skill-input" v-model="enduSkillMisc"></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="bonus-480px">
                                <div class="skill-input-auto"><input type="text" class="skill-input" disabled disabled v-model="healSkill"></div>
                            </td>
                            <td>
                                <div class="skill-name">Heal</div>
                            </td>
                            <td>
                                <div class="skill-input-auto"><input type="checkbox" class="skill-input" v-model="healSkillTrained"></div>
                            </td>
                            <td class="bonus-480px">
                                <div class="skill-input-auto"><input type="number" class="skill-input" v-model="healSkillMisc"></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="bonus-480px">
                                <div class="skill-input-auto"><input type="text" class="skill-input" disabled disabled v-model="histSkill"></div>
                            </td>
                            <td>
                                <div class="skill-name">history</div>
                            </td>
                            <td>
                                <div class="skill-input-auto"><input type="checkbox" class="skill-input" v-model="histSkillTrained"></div>
                            </td>
                            <td class="bonus-480px">
                                <div class="skill-input-auto"><input type="number" class="skill-input" v-model="histSkillMisc"></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="bonus-480px">
                                <div class="skill-input-auto"><input type="text" class="skill-input" disabled disabled v-model="insiSkill"></div>
                            </td>
                            <td>
                                <div class="skill-name">insight</div>
                            </td>
                            <td>
                                <div class="skill-input-auto"><input type="checkbox" class="skill-input" v-model="insiSkillTrained"></div>
                            </td>
                            <td class="bonus-480px">
                                <div class="skill-input-auto"><input type="number" class="skill-input" v-model="insiSkillMisc"></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="bonus-480px">
                                <div class="skill-input-auto"><input type="text" class="skill-input" disabled disabled v-model="intiSkill"></div>
                            </td>
                            <td>
                                <div class="skill-name">intimidate</div>
                            </td>
                            <td>
                                <div class="skill-input-auto"><input type="checkbox" class="skill-input" v-model="intiSkillTrained"></div>
                            </td>
                            <td class="bonus-480px">
                                <div class="skill-input-auto"><input type="number" class="skill-input" v-model="intiSkillMisc"></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="bonus-480px">
                                <div class="skill-input-auto"><input type="text" class="skill-input" disabled disabled v-model="natuSkill"></div>
                            </td>
                            <td>
                                <div class="skill-name">nature</div>
                            </td>
                            <td>
                                <div class="skill-input-auto"><input type="checkbox" class="skill-input" v-model="natuSkillTrained"></div>
                            </td>
                            <td class="bonus-480px">
                                <div class="skill-input-auto"><input type="number" class="skill-input" v-model="natuSkillMisc"></div>
                            </td>
                        </tr>

                        <tr>
                            <td class="bonus-480px">
                                <div class="skill-input-auto"><input type="text" class="skill-input" disabled disabled v-model="percSkill"></div>
                            </td>
                            <td>
                                <div class="skill-name">perception</div>
                            </td>
                            <td>
                                <div class="skill-input-auto"><input type="checkbox" class="skill-input" v-model="percSkillTrained"></div>
                            </td>
                            <td class="bonus-480px">
                                <div class="skill-input-auto"><input type="number" class="skill-input" v-model="percSkillMisc"></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="bonus-480px">
                                <div class="skill-input-auto"><input type="text" class="skill-input" disabled disabled v-model="reliSkill"></div>
                            </td>
                            <td>
                                <div class="skill-name">religion</div>
                            </td>
                            <td>
                                <div class="skill-input-auto"><input type="checkbox" class="skill-input" v-model="reliSkillTrained"></div>
                            </td>
                            <td class="bonus-480px">
                                <div class="skill-input-auto"><input type="number" class="skill-input" v-model="reliSkillMisc"></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="bonus-480px">
                                <div class="skill-input-auto"><input type="text" class="skill-input" disabled disabled v-model="steaSkill"></div>
                            </td>
                            <td>
                                <div class="skill-name">Stealth</div>
                            </td>
                            <td>
                                <div class="skill-input-auto"><input type="checkbox" class="skill-input" v-model="steaSkillTrained"></div>
                            </td>

                            <td class="bonus-480px">
                                <div class="skill-input-auto"><input type="number" class="skill-input" v-model="steaSkillMisc"></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="bonus-480px">
                                <div class="skill-input-auto"><input type="text" class="skill-input" disabled disabled v-model="streSkill"></div>
                            </td>
                            <td>
                                <div class="skill-name">streetwise</div>
                            </td>
                            <td>
                                <div class="skill-input-auto"><input type="checkbox" class="skill-input" v-model="streSkillTrained"></div>
                            </td>

                            <td class="bonus-480px">
                                <div class="skill-input-auto"><input type="number" class="skill-input" v-model="streSkillMisc"></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="bonus-480px">
                                <div class="skill-input-auto"><input type="text" class="skill-input" disabled disabled v-model="thieSkill"></div>
                            </td>
                            <td>
                                <div class="skill-name">thievery</div>
                            </td>
                            <td>
                                <div class="skill-input-auto"><input type="checkbox" class="skill-input" v-model="thieSkillTrained"></div>
                            </td>
                            <td class="bonus-480px">
                                <div class="skill-input-auto"><input type="number" class="skill-input" v-model="thieSkillMisc"></div>
                            </td>
                        </tr>
                    </table>
                </div>
            </section>

            </div>


            <!-- Columna CENTRO -->
            <div class="col-sm-4">

                <section id="defenses">
                    <header>
                        <button data-toggle="collapse" data-target="#defenses-content" class="header-button btn btn-block"><p>Defenses</p></button>
                    </header>
                    <div id="defenses-content" class="collapse in table-responsive">
                        <div class="def-ac def-row">

                            <div class="defense-total">
                                <input type="text" class="def-input main_score" v-model="characterAC" disabled>
                                <div class="def-tag well-sm" data-toggle="popover" data-trigger="hover" title="Based on" data-content="1/2 Lv + Armor/Ability + Class + Feat + Enh + Misc">AC</div>
                            </div>

                            <table class="table-condensed defense-table">
                                <thead>
                                    <th>enh</th>
                                    <th>misc</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><input type="number" class="input-def-auto" v-model="acEnhancementBonus"></td>
                                        <td><input type="number" class="input-def-auto" v-model="acMiscBonus"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="def-for def-row">
                            <div class="defense-total">
                                <input type="text" class="def-input main_score" v-model="characterFortitude" disabled>
                                <div class="def-tag well-sm" data-toggle="popover" data-trigger="hover" title="Based on" data-content="1/2 Lv + Abil + Class + Feat + Enh + Misc">FOR</div>
                            </div>
                            <table class="table-condensed defense-table">
                                <thead>
                                    <th>enh</th>
                                    <th>misc</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><input type="number" class="input-def-auto" v-model="fortitudeEnhancementBonus"></td>
                                        <td><input type="number" class="input-def-auto" v-model="fortitudeMiscBonus"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="def-ref def-row">
                            <div class="defense-total">
                                <input type="text" class="def-input main_score" v-model="characterReflex" disabled>
                                <div class="def-tag well-sm" data-toggle="popover" data-trigger="hover" title="Based on" data-content="1/2 Lv + Abil + Class + Feat + Enh + Misc">REF</div>
                            </div>
                            <table class="table-condensed defense-table">
                                <thead>
                                    <th>enh</th>
                                    <th>misc</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><input type="number" class="input-def-auto" v-model="reflexEnhancementBonus"></td>
                                        <td><input type="number" class="input-def-auto" v-model="reflexMiscBonus"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="def-wil def-row">
                            <div class="defense-total">
                                <input type="text" class="def-input main_score" v-model="characterWill" disabled>
                                <div class="def-tag well-sm" data-toggle="popover" data-trigger="hover" title="Based on" data-content="1/2 Lv + Abil + Class + Feat + Enh + Misc">WIL</div>
                            </div>
                            <table class="table-condensed defense-table">
                                <thead>
                                    <th>enh</th>
                                    <th>misc</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><input type="number" class="input-def-auto" v-model="willEnhancementBonus"></td>
                                        <td><input type="number" class="input-def-auto" v-model="willMiscBonus"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>

                <section class="feature-div">
                    <header>
                        <p>race features</p>
                    </header>
                    <div>
                        <input type="text" class="race-class-features" disabled>
                    </div>
                </section>

                <section class="feature-div">
                    <header>
                        <p>CLASS / PATH / DESTINY FEATURES</p>
                    </header>
                    <div>
                        <input type="text" class="race-class-features" disabled>
                    </div>
                </section>

            </div>

            <!-- Columna DER -->

            <div class="col-sm-4">

                <section id="movement">
                    <header>
                        <p>Movement</p>
                    </header>
                    <div>
                        <input type="text" class="speed" disabled v-model="speed">
                        <div class="speed-tag">Speed</div>

                        <div class="speed-table">
                            <table>
                                <thead>
                                    <th>misc</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><input type="number" class="speed-tab" v-model="speedMiscBonus"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
                <section>
                    <header>
                        <p>senses</p>
                    </header>
                </section>
                <section>
                    <header>
                        <div id="attacks-content" class="collapse in">
                            <div id="attack-workspace">
                                <ul class="list-group" id="attack-list">
                                    <div v-for="(attack, index) in attacks" type="button" :class="'btn btn-' + attack.cssColor + ' btn-block'" data-toggle="modal" v-bind:data-target="'#power-modal' + index">
                                        <li>{{attack.name}}</li>
                                    </div>
                                    <div v-for="(attack, index) in attacks" :id="'#power-modal' + index" class="modal fade" role="dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title">
                                                    {{attack.name}}
                                                </h4>
                                            </div>

                                            <div class="modal-body">
                                                <p>Attack</p>
                                                <attack-bonus :attack="attack"></attack-bonus>

                                                <div class="form-group">
                                                    <label for="notes" class="label-style">Effect/Notes</label>
                                                    <input class="form-control" rows="4" id="notes" v-bind:value="attack.notes" disabled>
                                                </div>
                                            </div>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default">Delete</button>
                                            </div>
                                        </div>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </header>

                </section>
                <section>
                    <header>
                        <p>damage workspace</p>
                    </header>
                </section>
                <section>
                    <header>
                        <p>basic attacks</p>
                    </header>
                    <div>
                        <a href="#" data-toggle="popover" title="ATK" data-trigger="focus" data-content="STR + Weapon prof + 1d20">
                            <button type="button" class="btn btn-default">Melee Basic</button>
                        </a>

                        <a href="#" data-toggle="popover" title="ATK" data-trigger="focus" data-content="DEX + Weapon prof + 1d20">
                            <button type="button" class="btn btn-default">Ranged Basic</button>
                        </a>
                    </div>
                </section>
                <section>
                    <header>
                        <p>feats</p>
                    </header>
                </section>
            </div>


        </div>
        <div class="image-bg-class"></div>
        <script data-main="app" src="lib/require.js"></script>
</body>

</html>