.header-banner {
    background-color: black;
    width: 100%;
    color: #ff3333;
    text-align: center;
    font-family: index-banner-font;
    font-size: 4em;
    text-transform: capitalize;
    margin: 0px;
    padding: 15px;
}

.index-module {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
}

.index-module-item {
    margin: 20px;
    opacity: 1;
    z-index: 1;
}

.image-bg-class {
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    height: 100%;
    width: 100%;
}

#file-select {
    position: relative;
    overflow: hidden;
}

#file-select input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

@font-face {
    font-family: index-banner-font;
    src: url('../fonts/CandyScript.ttf');
}