@import url(http://meyerweb.com/eric/tools/css/reset/reset.css);

/*character header*/

body {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5px;
}

header {
    color: white;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.header-button {
    background-color: black;
    text-transform: uppercase;
}

button.header-button:hover {
    color: white;
}

button.header-button:focus {
    color: white;
}

.header-button:hover {
    color: white;
}

header p {
    padding: 2px;
    font-weight: bold;
    text-align: center;
}

input {
    text-align: center;
}

label {
    display: block;
    font-size: 10px;
}

table {
    margin: auto;
    width: 75%;
}

thead th {
    color: black;
    font-size: 12px;
    text-align: center;
    background-color: white;
    text-transform: uppercase;
}

tbody {
    text-align: center;
}

section {
    margin-top: 15px;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
}

select::-ms-expand {
    display: none;
}

header input.player_name {
    color: #000;
}

.inline-span {
    display: inline;
}

.column {
    display: inline-block;
    width: 31%;
    margin: 10px;
    vertical-align: top;
}

#character_stats {
    margin: auto;
    width: 95%;
}

#sheet_body {
    margin: auto;
    width: 100%;
}

.dark {
    background-color: #333;
    color: #FFF;
}

.dark b {
    font-weight: bolder;
}

.fill_text {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#sheet_header {
    background-color: #000;
}


/* character info */

.short-input {
    width: 70px;
}

.underline {
    padding: 5px;
    border: none;
    background-color: #EEE;
    border-bottom: solid 2px #c9c9c9;
    transition: border 0.3s;
    width: 150px;
}

.chara-info-input {
    height: 25px;
    font-weight: bold;
}

.label-player-info {
    font-size: 12px;
    text-transform: capitalize;
}

.form-group1 {
    display: inline-block;
}

#sheet_header img {
    margin-left: 20px;
    vertical-align: bottom;
}

#character_info {
    width: 98%;
}

#character_info input {
    display: inline-block;
}

.info_field {
    display: inline-block;
    margin: 0 10px;
}

.info_field input {
    width: 100%;
}

#name {
    margin: 18px;
    position: relative;
    bottom: 20px;
}

.player-name {
    text-transform: capitalize;
    font-size: 20px;
}

#player-name1 {
    font-size: 20px;
}

#name h2 {
    text-transform: none;
    font-size: 18px;
}


/* initiative */

.initiative-container-flex {
    display: flex;
    justify-content: space-around;
}

.main_score {
    font-weight: bold;
    font-size: 20px;
}

.ini-tab {
    color: black;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
}

.init_input {
    height: 35px;
    font-size: 16px;
    width: 35px;
    display: inline-block;
    border: 1px solid black;
}

.initiative-tab {
    margin: auto;
    width: 40%;
}


/* abilities */

.abil-content {
    background-color: white;
    color: black;
    text-transform: uppercase;
    text-align: center;
    width: 90%;
}

.abil_input {
    width: 40px;
    font-size: 20px;
    border: 1px solid black;
}

.ability-tag {
    background-color: black;
    font-size: 20px;
    color: white;
    width: 60px;
    text-transform: uppercase;
    font-weight: bold;
}


/* hit points */

.hp_input {
    display: inline-block;
    border: 1px solid black;
    width: 60px;
    height: 30px;
}

.hit-points-label {
    font-size: 12px;
    text-transform: uppercase;
    color: black;
}

.inline {
    display: inline-block;
    width: 120px;
    white-space: nowrap;
    border: 1px solid lightslategray;
    text-align: center;
}


/* statuses*/

#active-status {
    display: inline-block;
    border: 1px solid black;
    width: 90%;
    height: 30px;
    margin: 5px;
}

#terrain-status {
    display: inline-block;
    border: 1px solid black;
    width: 90%;
    height: 30px;
    margin: 5px;
}


/* skills */

span {
    display: block;
}

.skill-name {
    height: 20px;
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
    background-color: #D3D3D3;
}

.skill-ability {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.trnd {
    height: 20px;
    text-align: center;
    width: 30px;
    background-color: #D3D3D3;
}

.skill-input {
    width: 30px;
    border: 1px solid black;
}


/* defenses */

.defense-total,
.defense-table,
.speed-total,
.speed-table {
    display: inline-block;
    vertical-align: bottom;
}

.defense-table,
speed-table {
    width: auto;
}

.def-row {
    width: 100%;
    text-align: center;
}

.def-input {
    border-radius: 100%;
    height: 50px;
    text-align: center;
    width: 50px;
    font-weight: bold;
    font-size: 20px;
    border: 2px solid black;
    background-color: white;
    display: inline-block;
    vertical-align: middle;
}

.input-auto {
    height: 30px;
    text-align: center;
    width: 40px;
    font-size: 16px;
    border: 1px solid black;
}

.def-for {
    display: inline-block;
    vertical-align: middle;
}

.def-ref {
    display: inline-block;
    vertical-align: middle;
}

.def-wil {
    display: inline-block;
    vertical-align: middle;
}

.def-tag {
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 25px;
    z-index: -1;
    display: inline-block;
    vertical-align: middle;
}


/* race / class features*/

.race-class-features {
    height: 170px;
    width: 100%;
}


/*speed*/

.speed-tag {
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 25px;
    z-index: -1;
    display: inline-block;
}

.speed-table {
    width: auto;
}

.speed {
    height: 50px;
    text-align: center;
    width: 50px;
    font-weight: bold;
    font-size: 20px;
    border: 2px solid black;
    background-color: white;
}

.speed-tab {
    height: 30px;
    text-align: center;
    width: 40px;
    font-size: 16px;
    border: 1px solid black;
}

.movement {
    display: inline-block;
    width: 100%;
    text-align: center;
}


/*-*-*-*--*-*-*-*-*-*-*-*/

.table-class {
    display: inline-block;
}


/*-*-*-*-atack workspace-*-*-*-*/

div button {
    display: inline-block;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.label-style {
    font-size: 15px;
    text-align: left;
    font-weight: bold;
}

.atk-inline {
    display: inline-block;
}

.atk-inp-modal {
    height: 50px;
    font-size: 20px;
    width: 70px;
    border: none;
}


/*-*-*-*-senses-*-*-*-*/

.sense-tbody {
    text-transform: capitalize;
    font-weight: bold;
}

.sense-tag {
    background-color: black;
    color: white;
    white-space: nowrap;
}


/*-*-*-*-feats-*-*-*-*/

.feat-margin {
    margin-top: 10px;
}


/*-*-*-*-*-*-*@media-*-*-*-*/

@media only screen and (max-device-width: 480px) {
    .no-show-480px {
        display: none;
    }
    .width-480px {
        width: 60%;
    }
    .skill-input {
        width: 40%;
    }
    .section-tag {
        display: none;
    }
}