@import url(http://meyerweb.com/eric/tools/css/reset/reset.css);

/*character header*/

body {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5px;
}

header {
    color: white;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.header-button {
    background-color: black;
    text-transform: uppercase;
}

button.header-button:hover {
    color: white;
}

button.header-button:focus {
    color: white;
}

.header-button:hover {
    color: white;
}

header p {
    padding: 2px;
    font-weight: bold;
    text-align: center;
}

input {
    text-align: center;
}

label {
    display: block;
    font-size: 10px;
}

.ability-flex-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.ability-flex-container-sub {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.column-label-class {
    color: black;
    font-size: 12px;
    text-transform: uppercase;
    width: 65px;
}

thead th {
    color: black;
    font-size: 12px;
    text-align: center;
    background-color: white;
    text-transform: uppercase;
}

tbody {
    text-align: center;
}

section {
    margin-top: 15px;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
}

select::-ms-expand {
    display: none;
}

header input.player_name {
    color: #000;
}

.inline-span {
    display: inline;
}

.column {
    display: inline-block;
    width: 31%;
    margin: 10px;
    vertical-align: top;
}

#character_stats {
    margin: auto;
    width: 95%;
}

#sheet_body {
    margin: auto;
    width: 100%;
    position: absolute;
    z-index: 1;
}

.image-bg-class {
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    height: 1024px;
}

.dark b {
    font-weight: bolder;
}

#sheet_header {
    background-color: #000;
}


/* character info */

.short-input {
    width: 70px;
}

.underline {
    padding: 5px;
    border: none;
    background-color: #EEE;
    border-bottom: solid 2px #c9c9c9;
    transition: border 0.3s;
    width: 150px;
}

.chara-info-input {
    height: 25px;
    font-weight: bold;
}

.label-player-info {
    font-size: 12px;
    text-transform: capitalize;
}

.form-group1 {
    display: inline-block;
}

#sheet_header img {
    margin-left: 20px;
    vertical-align: bottom;
}

#character_info {
    width: 98%;
}

#character_info input {
    display: inline-block;
}

#name {
    margin: 18px;
    position: relative;
    bottom: 20px;
}

.player-name {
    text-transform: capitalize;
    font-size: 20px;
}

#player-name1 {
    font-size: 20px;
}

#name h2 {
    text-transform: none;
    font-size: 18px;
}


/* initiative */

.initiative-container-flex {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.initiative-flex-item {
    display: flex;
    justify-content: space-around;
}

.main_score {
    font-weight: bold;
    font-size: 1.5em;
}

.init_input {
    height: 35px;
    font-size: 16px;
    width: 35px;
    border: 1px solid black;
}


/* abilities */

.abil_input {
    border: 1px solid black;
    width: 40px;
}

.ability-tag {
    background-color: black;
    font-size: 1.5em;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    padding: 2px;
    width: 65px;
}


/* hit points */

.hp_input {
    display: inline-block;
    border: 1px solid black;
    width: 60px;
    height: 30px;
}

.hit-points-label {
    font-size: 12px;
    text-transform: uppercase;
    color: black;
}

.inline {
    display: inline-block;
    width: 120px;
    white-space: nowrap;
    border: 1px solid lightslategray;
    text-align: center;
}


/* statuses*/

#active-status {
    display: inline-block;
    border: 1px solid black;
    width: 90%;
    height: 30px;
    margin: 5px;
}

#terrain-status {
    display: inline-block;
    border: 1px solid black;
    width: 90%;
    height: 30px;
    margin: 5px;
}


/* skills */

.skills-flex-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.skills-flex-container-sub {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.skills-flex-item {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.skill-name {
    height: 24px;
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
    background-color: black;
    color: white;
    width: 150px;
    border: 1px solid white;
    border-radius: 7px;
    padding: 3px;
}

.trnd {
    height: 20px;
    text-align: center;
    width: 30px;
    background-color: #D3D3D3;
}

.skill-input {
    width: 30px;
    border: 1px solid black;
}


/* defenses */

.defenses-flex-container {
    display: flex;
    justify-content: center;
    text-align: center;
}

.defenses-flex-container-score {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.defenses-flex-container-bonus {
    display: flex;
    flex-direction: column;
}

.defenses-flex-container-bonus-sub {
    display: flex;
    justify-content: space-around;
}

.input-def-auto {
    border: 1px solid black;
    width: 40px;
}

.defense-total,
.speed-total {
    display: inline-block;
    vertical-align: bottom;
}

.def-row {
    width: 100%;
    text-align: center;
}

.def-input {
    border-radius: 100%;
    height: 50px;
    text-align: center;
    width: 50px;
    font-weight: bold;
    font-size: 20px;
    border: 2px solid black;
    background-color: white;
}

.input-auto {
    height: 30px;
    text-align: center;
    width: 40px;
    font-size: 16px;
    border: 1px solid black;
}

.def-tag {
    background-color: black;
    font-size: 1.5em;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    width: 65px;
    height: 35px;
    border-radius: 7%;
    border: 1px solid white;
    padding: 5px;
}


/* race / class features*/

.race-class-features {
    height: 170px;
    width: 100%;
}


/*speed*/

.movement-flex-container {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.movement-flex-container-score {
    display: flex;
    justify-content: space-around;
}

.movement-flex-item {
    align-self: center;
}

.speed-tag {
    background-color: black;
    font-size: 1.5em;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    width: 100px;
    height: 35px;
    border-radius: 7%;
    border: 1px solid white;
    padding: 5px;
}

.speed {
    height: 50px;
    text-align: center;
    width: 50px;
    font-weight: bold;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 100%;
    background-color: white;
}

.speed-tab {
    border: 1px solid black;
    width: 40px;
}

.movement {
    display: inline-block;
    width: 100%;
    text-align: center;
}


/*-*-*-*-atack workspace-*-*-*-*/

div button {
    display: inline-block;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.label-style {
    font-size: 15px;
    text-align: left;
    font-weight: bold;
}

.atk-inline {
    display: inline-block;
}

.atk-inp-modal {
    height: 50px;
    font-size: 20px;
    width: 70px;
    border: none;
}


/*-*-*-*-senses-*-*-*-*/

.sense-tbody {
    text-transform: capitalize;
    font-weight: bold;
}

.sense-tag {
    background-color: black;
    color: white;
    white-space: nowrap;
}


/*-*-*-*-feats-*-*-*-*/

.feat-margin {
    margin-top: 10px;
}


/*-*-*-*-*-*-*@media-*-*-*-*/